<div id="container">
  <header id="header"></header>
  <div id="body">
    <h1 id="title">Capitalist Calculator</h1>
    <div class="inputs">
      <h4>Initial investment</h4>
      <input
        placeholder="0"
        [(ngModel)]="initialInvestment"
        (ngModelChange)="calculateStuff(initialInvestment, 'initial')"
        name="initialInvest"
        type="number"
        min="0"
      />
      <h4>Monthly savings</h4>
      <input
        placeholder="0"
        [(ngModel)]="monthlyInvestments"
        (ngModelChange)="calculateStuff(monthlyInvestments, 'monthly')"
        type="number"
        min="0"
      />
      <h4>Investment horizon (years)</h4>
      <input
        placeholder="0"
        [(ngModel)]="investmentHorizon"
        (ngModelChange)="calculateStuff(investmentHorizon, 'horizon')"
        type="number"
        min="0"
      />
      <h4>Predicted yearly interest rate (%)</h4>
      <input
        placeholder="0"
        [(ngModel)]="predictedCompoundRate"
        (ngModelChange)="calculateStuff(predictedCompoundRate, 'compoundRate')"
        type="number"
        min="0"
      />
    </div>

    <div class="actions">
      <button (click)="reset()" mat-raised-button color="primary">Reset</button>
      <button
        (click)="showResults = !showResults"
        mat-raised-button
        color="primary"
      >
        Show results
      </button>
    </div>

    <div *ngIf="showResults" class="results">
      <h1 class="result-title">Results</h1>
      <h4>
        Total sum after <b>{{ investmentHorizon | number }} years</b> will be:
        <b>{{ total > 0 ? total : 0 }}kr</b>
      </h4>

      <h4>
        Total invested: <b>{{ totalSaved > 0 ? totalSaved : 0 }}kr</b>
      </h4>

      <h4>
        Earned from interest alone:
        <b>{{ interestEarnings > 0 ? interestEarnings : 0 }}kr</b>
      </h4>
    </div>
  </div>
  <footer id="footer">
    <p>ⓒCausality Violation Inc</p>
  </footer>
</div>
