h4 {
  margin: 0;
}

input {
  margin-bottom: 20px;
  height: 40px;
  width: 200px;
  padding-left: 12px;
  border-radius: 6px;
  border: 1px solid black;
  font-family: "Roboto";
  font-size: 16px;
}

.actions {
  margin-bottom: 20px;
}

.results {
  margin-bottom: 48px;
}

.result-title {
  margin-top: 8px;
  margin-bottom: 8px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#container {
  min-height: 100%;
  position: relative;
}
#header {
  background: #673ab7;
  height: 24px;
}
#body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  background: #673ab7;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  p {
    margin: 0;
    margin-right: 16px;
    color: white;
  }
}

#title {
  margin-top: 20px;
}

button {
  width: 150px;
}
